
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

    
section+section,footer{
    margin-top: 20px;

}
h4{
    color:#af492c
}
.comapnyname h1{
    color:#af492c;
    font-family: 'Domine', serif;
    padding: 20px auto;
    
}
p{
    font-size: large;
}

.card-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 10px;
    flex-basis: 100%;
}
#navbarNav .navbar-nav li a {
    font-size: 1.75rem;
    color:#af492c ;
    font-weight: 300;
}
#navbarNav .navbar-nav li a:hover{
    font-size: 1.5rem;
    color:white ;
    background-color: #af492c;
}
.navbar-nav{
    display: flex;
}
.footer p{
    color: #af492c;
    opacity: 0.5;
}
.text-center div label{
font-size: 1rem;
}

.backtotop{
    position: sticky;
    bottom: 0;
    z-index: 2;
}
.card img{
border-radius: 20% 20% 0 20%;
}



